.deck {
    width: 25%;
    height: auto;
    border: 1px solid rgb(156, 221, 221);
    margin: 2em 32em;
}

.addDeckBut {
    margin: 3em 37em;
}

.createIcon {
    width: 30px;
    margin-left: 7px;
}

.trashIcon {
    margin-left: 7px;
}

.pencilIcon {
    margin-left: 7px;
}

.favoriteIcon {
    mix-blend-mode: multiply;
    width: 50px;
}

.card-header-title {
    justify-content: center;
    align-items: center;
}
