.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-image: url("https://i.pinimg.com/originals/4a/49/62/4a4962b4f409e463854c03573af13035.jpg");
    /* min-height: 730px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
  
.navbar__item {
    list-style-type: none;
    text-align: center;
    margin-top: 2em;
    color: rgb(207, 233, 233);
}

.navbar__item::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(207, 233, 233);
    display: block;
    margin: auto;
    transition: 0.5s;
    transform:skew(10deg, -7deg) scaleY(.50);
}
  
.navbar__item:hover::after {
    width: 40%;
}
  
.active {
    background-color: rgb(207, 233, 233);
    font-size: 20px;
    border-radius: 100px;
    height: 50%;
    border: 0.5px solid;
}

.active:hover {
    background-color: rgb(95, 151, 147);
}

.navbar__link {
    color: black;
    margin: 4em;
    text-decoration: none;
}

.navbar__link:hover {
    color: rgb(207, 233, 233);
}

.logoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
}

.logo {
    width: 60px;
    height: 60px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: 1.5em;
    margin-left: 4em;
} 

.logo:hover {
    transform: scale(1.4);
}

.logoName {
    width: 200px;
    height: auto;
    mix-blend-mode: multiply;
    cursor:pointer;
    transition: all .2s ease-in-out;
    margin-top: 1em;
    padding: 0 15px;
}

.logoNameDiv {
    border: 1px solid black;
    background-color: rgb(207, 233, 233);
    border-radius: 20px;
    margin-top: 1em;
}

.logoName:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}